<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tower Manage Web</title>
    <script src="javascripts/index.js" defer></script>
  </head>
  <body>
    <div>
      <input type="number" id="temperature" min="100" max="300" value="150" />
      <label>Temperature</label>
    </div>
    <div>
      <input type="number" id="speed" min="30" max="300" value="150" />
      <label>Speed</label>
    </div>
    <button id="set">SET!</button>
    <div>
      <label>current Temperature</label>
      <p id="currentTmp">click SET!</p>
    </div>
  </body>
</html>
